**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.idea
**/*.md
**/Dockerfile*
**/docker-compose*
**/.github
**/docs
**/coverage
**/*.Tests
**/*.Api.Tests
**/.editorconfig
**/stylecop.json
**/.codecov
**/CODEOWNERS
**/CHANGELOG.md
**/LICENSE
**/.env*
